@use "../base/mixins";
@use "../base/variables";

.header{
    padding: 5rem 0;
    &__grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mixins.tablet{
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__logo{
        width: 30rem;
        margin-bottom: 3rem;
        @include mixins.tablet{
            margin-bottom: 0;
        }
    }
}